.operation-links {
  display: table;
}

.operation-links li{
  display: table-cell;
}
.operation-links li a{
  padding: 0px 3px;
}
.views-extend-operation-link .contextual-links-active {
  z-index: 9999;
}
.views-extend-operation-link {
  position: relative;
  height: 20px;
}
.views-extend-operation-link:after {
  content: ".";
  height: 0px;
  display: block;
  visibility: hidden;
  clear: both;
}

.views-extend-operation-link a.contextual-links-trigger {
  display: block;
}

.views-extend-operation-link a.contextual-links-trigger:hover {
  text-decoration: none;
}

.views-exposed-widget.views-widget-per-page .ctools-dropdown {
  display: inline-block;
}
.views-pager.items-per-page {
  display: inline-block;
}
html.js div.ctools-dropdown div.ctools-dropdown-container {
  width: auto;
  padding: 5px;
}
th.views-field-views-bulk-operations {

}
th.views-field-views-bulk-operations .form-item.form-type-checkbox,
th.views-field-views-bulk-operations .ctools-dropdown {
  display: table-cell;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0px;
}

.views-exposed-form .form--inline .form-actions {
  padding-top: 0px;
  margin: 0px;
}

.views-extend-pager {
  display: inline-block;
}

.views-extend-pager .dropbutton-wrapper {
  float: left;
  margin-right: 5px;
  padding: 0px;
  min-height: 25px;
}

.views-extend-pager .dropbutton-multiple.open, .views-extend-pager .dropbutton-multiple.open .dropbutton-widget {
  min-width: 64px;
}

.views-extend-pager .dropbutton-wrapper.open .dropbutton-widget {
  position: absolute;
}

.view .view-result {
  display: flex;
}

form.views-exposed-form.auto-hide-submit-buttons input.form-submit {

}
